body {
    background-color: #2A62A3;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: 'Poiret One';
    text-shadow: 4px 5px 2px black;
}

#destinationHolder {
    font-family: cursive;
    font-weight: 600;
    font-size: 10rem;
    color: #fface4;
}

#loading-image {
    display: block;
    margin: auto auto;
}

.container {
    border: 25px solid #2BC0E4;
    background-color: #2A62BB;
    padding: 15px 15px;
}

#map {
    height: 350px;
    width: 45%;
    margin: auto auto;
    padding: 50px 0px;
}

.animation-examples.two {
    color: white;
    outline: 10px solid #EAECC6;
    box-shadow: 0 0 0 8px #2BC0E4;
    animation: 5s animateBorderTwo ease infinite;
    margin: 15px 50px;
}

@keyframes animateBorderTwo {
    to {
        outline-color: #07a2c7;
        box-shadow: 0 0 0 8px #EAECC6;
    }
}


.event {
    padding: 1rem 1rem 1rem 0;
    display: table;
}

.event-date {
    width: 4rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto;
}

.event-date .event-month {
    margin: 0;
    background: #fface4;
    padding: 0.25rem 1rem;
    text-align: center;
    color: black;
}

.event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: black;
}

.event-desc {
    padding: 0 0 0 0.5rem;
    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
     color: #0067c5;
}

.event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
}

.event-desc .event-desc-time {
    font-weight: bold;
}

.event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
   
}


#gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#2BC0E4), to(#EAECC6)) fixed; 
}

#flightinfo{
    text-align: center;
    padding: 10px 10px;
    background-color: #36c2e2;
    font-size: 17px;
   

}

#fuck-off{
    margin: 10px 50%;
    background-color: #fface4;

}

h6{
    font-size: 20px;
}