body{

	background-color: #2A62A3 !important;
}

h1{
	text-align: center;
	color: white !important;
	font-family: 'Poiret One', cursive !important;
}

.container{
	border: 25px solid #2A62D2;
	background-color: #2A62BB;

}

 #map {
     height: 350px;
     width: 50%;
     margin: auto auto;
 }




.animation-examples.two {
  color: white;
  outline: 10px solid #2A62A3;
  box-shadow: 0 0 0 10px lightblue;
  animation: 3s animateBorderTwo ease infinite;
  margin: 15px 15px;
}

@keyframes animateBorderTwo {
  to {
    outline-color: #2A62D2;
    box-shadow: 0 0 0 10px #6C6F7F;
  }
}

